header {
    position: fixed;                 /* 스크롤 해도 항상 위치 고정함 */
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;                   /* 책 올릴 때 header 위로 올라가는 문제 해결 */
}

nav {
    height: 130px;
}

.nav.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

.nav-logo {
    display: flex;
    margin-left: -1100px;
    margin-top: -80px;
    width: 200px;
    height: 70px;
}

li {
    list-style: none;
}

.nav-list {
    display: flex;
    padding: 0;                     /* 내부 여백 제거 */
}

.nav-list img {
    width: 80px;
    height: 80px;
    margin-top: -20px;
}

.nav-item {
    margin-left: 15px;              /* 이미지 사이의 간격 조절 */
}

hr {
    height: 3px;
    background: #41B96F;
    border: 0;
    margin-top: -20px;
}

p {
    display: flex;
    justify-content: center;
    margin-top: 180px;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: Pretendard;
}

h5 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-right: 220px;
    color: #a9a9a9;
}

.input_container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.id_input {
    width: 19vw;
    height: 3vh;
}

.pw_input {
    width: 19vw;
    height: 3vh;
}

.id_input,
.pw_input {
    padding: 10px;
    margin: 5px;
    margin-top: -15px;
    border: 1px solid #ccc;
    font-size: 1.2rem;
}

.join {
    margin-top: 8px;
    font-size: 0.7rem;
    color: #41B96F;
    text-decoration: underline;
}

.join > a:link,
.join > a:visited,
.join > a:hover {
    color: #41B96F;
}

.button_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-right: -2px;
}

button {
    width: 20.6vw;
    height: 5vh;
    background-color: #41B96F;
    color: #FFFFFF;
    border-radius: 4px;
    border: 0;
    font-size: 0.9rem;
    font-weight: bold;
}