header {
    position: fixed; /* 스크롤 해도 항상 위치 고정함 */
    top: 0;
    right: 0;
    left: 0;
    z-index: 100; /* 책 올릴 때 header 위로 올라가는 문제 해결 */
}

nav {
    height: 120px;
}

.nav.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: #FFF;
}

.nav-logo {
    display: flex;
    margin-left: -1060px;
    margin-top: -60px;
    width: 200px;
    height: 70px;
}

li {
    list-style: none;
}

.nav-list {
    display: flex;
    padding: 0;                     /* 내부 여백 제거 */
}

.nav-list img {
    width: 80px;
    height: 80px;
}

.nav-item {
    margin-left: 15px;              /* 이미지 사이의 간격 조절 */
}

hr {
    height: 3px;
    background: #41B96F;
    border: 0;
    margin-top: 0;
}

main {
    margin-top: calc(120px + 10px);
}

.slide {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 80vh;
  user-select: none; /* slide drag를 위해 DOM요소가 드래그로 선택되는것을 방지 */
}
.slide_item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0px;
  width: 100%;
  height: 100%;
  flex-shrink: 0; /* flex item의 flex-shrink는 기본값이 1이므로 컨테이너 크기에 맞게 줄어드는데, 슬라이드를 구현할 것이므로 줄어들지 않도록 0을 준다. */
  transition: left 1s;
}
.slide_button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(50% - 16px);
  cursor: pointer;
}

.slide_prev_button {
  left: 10px;
}
.slide_next_button {
  right: 10px;
}

.slide_button i {
    font-size: 2rem;
}

/* 각 슬라이드가 변경되는 것을 시각적으로 확인하기 쉽도록 각 슬라이드별 색상 적용 */
.slide_item.item1 {
  background-color: darkgoldenrod;
}
.slide_item.item2 {
  background-color: aqua;
}
.slide_item.item3 {
  background-color: blueviolet;
}
.slide_item.item4 {
  background-color: burlywood;
}
.slide_item.item5 {
  background-color: cornflowerblue;
}


.flex-slider-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40px;
    margin-top: 480px;
    margin-left: 650px;
}

.flex-control-nav {
    display: flex;
    position: relative;
    width: auto;
    height: 18px;
}

.flex-control-nav li.active {
  background-color: #41B96F;
}

.pagination li {
    width: 10px;
    height: 10px;
    background-color: #ED1C24;
    border: 1px solid #ED1C24;
}

.pagination li,
.pagination li.current {
    width: 10px;
    height: 10px;
    margin-right: 8px;
    border-radius: 50%;
    border: 1px solid #929292;
    background-color: transparent;
    cursor: pointer;
}