<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>승부예측</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <link rel="stylesheet" type="text/css" href="/static/css/forecast.css">
</head>
<body>

  <header>
    <nav class="nav container">
      <a href="" class="nav-logo">
        <li class="nav-item">
          <a href="main.html" class="nav-link">
            <img src="images/logo.jpg" alt="logo">
          </a>
        </li>
      </a>

      <ul class="nav-list">
        <!-- 승부예측 이미지 -->
        <li class="nav-item"><a href="" class="nav-link"><img src="images/vs.jpg" alt="vs"></a></li>

        <!-- 야구장 이미지 -->
        <li class="nav-item"><a href="ground.html" class="nav-link"><img src="images/club.jpg" alt="club"></a></li>

        <!-- FA 예약 이미지 -->
        <li class="nav-item"><a href="store.html" class="nav-link"><img src="images/FA.jpg" alt="FA"></a></li>

        <!-- 마이페이지 이미지 -->
        <li class="nav-item"><a href="" class="nav-link"><img src="images/mypage.jpg" alt="mypage"></a></li>
      </ul>
    </nav>

    <!-- 구분선 -->
    <hr>

  </header>

  <main>

    <div class="top">
      <h1>승부예측</h1>
    </div>

  </main>

  <!-- <i class="bi bi-plus"></i> -->

</body>
</html>