<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google" content="notranslate">
    <link rel="stylesheet" type="text/css" href="/static/css/join.css">
    <title>회원가입</title>

</head>
<body>

    <header>
        <nav class="nav container">
            <a href="" class="nav-logo">
                <li class="nav-item">
                    <a href="main.html" class="nav-link">
                        <img src="images/logo.jpg" alt="">
                    </a>
                </li>
            </a>

            <ul class="nav-list">
                <!-- 승부예측 이미지 -->
                <li class="nav-item"><a href="" class="nav-link"><img src="images/vs.jpg" alt=""></a></li>

                <!-- 야구장 이미지 -->
                <li class="nav-item"><a href="" class="nav-link"><img src="images/club.jpg" alt=""></a></li>

                <!-- FA 예약 이미지 -->
                <li class="nav-item"><a href="store.html" class="nav-link"><img src="images/FA.jpg" alt=""></a></li>

                <!-- 마이페이지 이미지 -->
                <li class="nav-item"><a href="" class="nav-link"><img src="images/mypage.jpg" alt=""></a></li>
            </ul>
        </nav>

        <!-- 구분선 -->
        <hr>

    </header>

    <main>

        <p>회원가입</p>

        <!-- 아이디 입력창 -->
        <div class="id_container">
            <h5 style="margin-left: -50px">아이디</h5>
            <div class="input_container">
                <input class="id_input" type="text">
                <div class="error" id="idErrorMessage" style="visibility: hidden">아이디 에러 메시지</div>
            </div>
        </div>

        <!-- 비밀번호 입력창 -->
        <div class="pw_container">
            <h5 style="margin-left: -40px">비밀번호</h5>
            <div class="input_container">
                <input class="pw_input" type="password">
                <div class="error" id="pwErrorMessage" style="visibility: hidden">비밀번호 에러 메시지</div>
            </div>
        </div>

        <!-- 이메일 입력창 -->
        <div class="email_container">
            <h5 style="margin-left: -55px">이메일</h5>
            <div class="input_container email">
                <input class="email_input" type="text">
                <h4>@</h4>
                <input class="domain_input" type="text">
            </div>
            <div class="error" id="emailErrorMessage" style="visibility: hidden">이메일 에러 메시지</div>
        </div>

        <!-- 회원가입 버튼 -->
        <div class="join_container">
            <div class="button_container">
                <!-- 버튼 클릭 시 로그인 화면으로 이동 -->
                <button type="button" onclick="location.href='login.html'">회원가입</button>
            </div>
        </div>

    </main>

</body>
</html>