<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google" content="notranslate">
    <link rel="stylesheet" type="text/css" href="/static/css/store.css">
    <title>FA 계약</title>
</head>
<body>

    <header>
      <nav class="nav container">
        <a href="" class="nav-logo">
          <li class="nav-item">
            <a href="main.html" class="nav-link">
              <img src="images/logo.jpg" alt="">
            </a>
          </li>
        </a>

        <ul class="nav-list">
          <!-- 승부예측 이미지 -->
          <li class="nav-item"><a href="" class="nav-link"><img src="images/vs.jpg" alt=""></a></li>

          <!-- 야구장 이미지 -->
          <li class="nav-item"><a href="" class="nav-link"><img src="images/club.jpg" alt=""></a></li>

          <!-- FA 예약 이미지 -->
          <li class="nav-item"><a href="store.html" class="nav-link"><img src="images/FA.jpg" alt=""></a></li>

          <!-- 마이페이지 이미지 -->
          <li class="nav-item"><a href="" class="nav-link"><img src="images/mypage.jpg" alt=""></a></li>
        </ul>
      </nav>

      <!-- 구분선 -->
      <hr>
    </header>

    <main>

        <div class="top">
            <!-- 선수단 글씨 이미지 -->
            <a href="" class="playerteamImg"><img src="images/playerteam.jpg" alt=""></a>

            <!-- 검색창 -->
            <div class="search">
                <input type="text" placeholder="찾고 싶은 선수를 검색하세요" class="inputSearch">
                <img src="images/search.jpg" class="searchImg">
            </div>

            <!-- 코인 표시 -->
            <div class="coin">
                <div class="money">
                    <h3>10,000</h3>
                </div>

                <img src="images/coin.jpg" class="coinImg">
            </div>

            <!-- 장바구니 이미지 -->
            <img src="images/basket.jpg" class="basketImg">
        </div>

        <!-- 구단, 포지션 선택 -->
        <div class="check">
            <div class="team_container">
                <div class="team_title">
                    <p>구단</p>
                    <!-- 구단 밑에 있는 선 -->
                    <hr>
                </div>

                <!-- 구단 선택 목록 -->
                <div class="team">
                    <div class="Tline_1">
                        <button id="team_doosan" class="button">
                            <p>두산</p>
                        </button>

                        <button id="team_lotte" class="button">
                            <p>롯데</p>
                        </button>

                        <button id="team_samsung" class="button">
                            <p>삼성</p>
                        </button>
                    </div>

                    <div class="Tline_2">
                        <button id="team_kiwoom" class="button">
                            <p>키움</p>
                        </button>

                        <button id="team_hanwha" class="button">
                            <p>한화</p>
                        </button>

                        <button id="team_kia" class="button">
                            <p>KIA</p>
                        </button>

                        <button id="team_kt" class="button">
                            <p>KT</p>
                        </button>
                    </div>

                    <div class="Tline_3">
                        <button id="team_ssg" class="button">
                            <p>SSG</p>
                        </button>

                        <button id="team_lg" class="button">
                            <p>LG</p>
                        </button>

                        <button id="team_nc" class="button">
                            <p>NC</p>
                        </button>
                    </div>
                </div>

                <div class="position">
                    <div class="team_title">
                        <p>포지션</p>
                        <!-- 포지션 밑에 있는 선 -->
                        <hr>
                    </div>
                </div>

                <div class="Pline_1">
                    <button id="posi_pitcher" class="button">
                        <p>투수</p>
                    </button>

                    <button id="posi_catcher" class="button">
                        <p>포수</p>
                    </button>
                </div>

                <div class="Pline_2">
                    <button id="posi_infielder" class="button">
                        <p>내야수</p>
                    </button>

                    <button id="posi_outfielder" class="button">
                        <p>외야수</p>
                    </button>
                </div>

                <div class="team_title">
                    <img src="images/wishlist.jpg" class="wish">
                    <!-- 포지션 밑에 있는 선 -->
                    <hr>
                </div>

                <button id="wishlist" class="button">
                    <p>위시리스트</p>
                </button>

            </div> <!-- team_container -->
        </div> <!-- check -->

    </main>

    <script src="/static/js/store.js"></script>

</body>
</html>