<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google" content="notranslate">
    <link rel="stylesheet" type="text/css" href="/static/css/store.css">
    <title>FA 계약</title>
</head>
<body>

    <header>
      <nav class="nav container">
        <a href="" class="nav-logo">
          <li class="nav-item">
            <a href="main.html" class="nav-link">
              <img src="images/logo.jpg" alt="">
            </a>
          </li>
        </a>

        <ul class="nav-list">
          <!-- 승부예측 이미지 -->
          <li class="nav-item"><a href="" class="nav-link"><img src="images/vs.jpg" alt=""></a></li>

          <!-- 야구장 이미지 -->
          <li class="nav-item"><a href="" class="nav-link"><img src="images/club.jpg" alt=""></a></li>

          <!-- FA 예약 이미지 -->
          <li class="nav-item"><a href="store.html" class="nav-link"><img src="images/FA.jpg" alt=""></a></li>

          <!-- 마이페이지 이미지 -->
          <li class="nav-item"><a href="" class="nav-link"><img src="images/mypage.jpg" alt=""></a></li>
        </ul>
      </nav>

      <!-- 구분선 -->
      <hr>

    </header>

    <main>

        <div class="top">
            <!-- 선수단 글씨 이미지 -->
            <a href="" class="playerteamImg"><img src="images/playerteam.jpg" alt=""></a>

            <!-- 검색창 -->
            <div class="search">
                <input type="text" placeholder="찾고 싶은 선수를 검색하세요" class="inputSearch">
                <img src="images/search.jpg" class="searchImg">
            </div>

            <!-- 코인 표시 -->
            <div class="coin">
                <div class="money">
                    <h3>10,000</h3>
                </div>

                <img src="images/coin.jpg" class="coinImg">
            </div>

            <!-- 장바구니 이미지 -->
            <img src="images/basket.jpg" class="basketImg">
        </div>

    </main>

</body>
</html>